########################################
#### IDE specific rules:
########################################
.classpath
.project
.settings/
.gradle/
target/
build/
bin/
logs/*

#######
#################################
#### OSX/Finder:
########################################
.DS_Store
*.DS_Store
